nav {
  background-color: lightblue; }
html{
background: url("mynd1.jpg") no-repeat center center fixed;
}
#menu-toggle:checked ~ .topnav {
bottom: 51px;
}
#menu-toggle{
display: none;
}
.listi{
  padding: 30px;
  border:2px solid black;
  background-color: pink;
}
li{
  font-size: 20px;
}
.lista{
  list-style-type: none;
  }
img {
    max-width: 100%;
    height: auto;
    border: 2px solid;
    border-radius: 10%;
}
.logo{
    margin: 0 auto;
    border: 3px solid;
    background-image: url("source.gif");
    background-repeat: no-repeat;
    background-width: 100%; 
    text-align: center;
    padding: 70px;
}
.morgin{
    text-align: center;
    border: 5px;: 
}
table, th, td{
    border: 1px solid #333;
    margin: 0 auto;
   }
.morgin
label {
background-color: lightblue;
z-index:2;
cursor: pointer;
font-size: 1.4em;
bottom: 0;
width: 100%;
height: 50px;
text-align: center;
line-height: 51px;
position: fixed;
}
.topnav{
position: fixed;
bottom: -160px;
width: 100%;
z-index: 1;
transition: bottom 300ms;
}

body{ 
  padding: 17px;
}
footer { 
 border: 2px solid black;
 padding: 13px;
}
picture img{
  width: 100px;
}
body{ 
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:1fr 3fr 1fr 100px;
  grid-template-areas: "header"
                       "section"
                       "footer"
                        "nav";
} 
.topmenu{
  list-style: none;
  margin: 0;
  padding: 0;
}
.topnav {
    overflow: hidden;
    background-color: darkblue;
    padding: 17px;
    margin: 10px;
    position: fixed; 
    line-height: 15px;
    bottom: -80px; 
    width: 100%; 
}

.topnav li{
  display: block;
}

.topnav a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav a:hover {
    background: #ddd;
    color: black;
}
.main {
    margin-top: 30px; 
}
.hnappur{
    margin: 10px;
    padding: 5px; 
}
.klukka{
    text-align: center;
    font-size: 40px;
    }
.utfylling{
    padding: 20px;
    margin: 20px; 
    border-radius: 20px;
    background-color: pink;
}
.utfylling2{
  padding: 10px;
    margin: 10px; 
    border-radius: 20px;
    background-color: pink;
}
.midja{
  grid-area: midja;
  background-color: lightblue;
 }
.vinstri{
  grid-area: vinstri;
  background-color: lightblue; }
.haegri{
  grid-area: haegri;
  background-color: lightblue;
 } 
nav { 
 grid-area: nav;
}
header { 
 grid-area: header;
 margin: auto;
}

section{ 
   grid-area: section;
   display: grid;
   grid-template-rows: 2fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "midja"
                             "haegri"
                             "vinstri";
   background-color: yellow;
}
footer { 
  grid-area: footer;
  background-color: lightblue;
}
article,
aside { 
  border: 2px solid black;
  padding: 1em;
}


.media-links a{
   display: inline-block;
   border: 1px solid;
   width: 2.5em;
   height: 2.5em;
   text-align: center;
   margin: 0 1em;
   line-height: 2.5em;
   text-decoration: none; 
   color: white;
}
.media-links a:nth-child(1){
  background-color: lightblue;
}
.media-links a:nth-child(2){
  background-color: pink;
}
.media-links a:nth-child(3){
  background-color: deepskyblue;
}
.media-links a:nth-child(4){
  background-color: tomato;
}
@media screen and (min-width: 37.5em){

     body { 
        grid-template-rows: 100px 1fr 3fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "nav"
                             "header"
                             "section"
                             "footer";
     }
     section {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "haegri midja"
                             "vinstri midja";
     }
     .topmenu{
           display: flex;
           justify-content: center; 
     }
     nav {
      background-color: black;
     }
     nav li{
      width: 250px;
     }

     .myndir{
      flex-flow: row wrap; 
     }
     label {
      display: none;
     }
     .topnav{
      position: static;
     }

 }

@media screen and (min-width: 48em){
  section {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas: "vinstri midja haegri";
                          }
      .myndir{
      flex-flow: row nowrap; 
     }
     .media-links {
      position: absolute;
      left: 0;
      top: 300px;
     }
     .media-links a{
           display: block;
           margin: 0;
     }
}
.kvikun {
    margin: 0 auto;
    width: 900px;
    height: 100px;
    background-color: red;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}

/* Standard syntax */
@keyframes example {
     0%   {background-color: pink;}
    25%  {background-color: blue;}
    50%  {background-color: lightblue;}
    100% {background-color: gold;}
}
.texti{
     text-align: center;
     padding: 30px;
}
.kvikun2 {
    width: 100px;
    height: 75px;
    background: pink;
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;
     margin: 0 auto;
   }

.kvikun2:hover {
    width: 200px;
}
.texti2{
     text-align: center;
}